<!DOCTYPE html>
<html>

<body style="font-family:'Lato',sans-serif; overflow-y:auto;">

<!-- begin of sidebar -->
  <div class="w3-sidebar w3-bar-block w3-light-blue w3-card" style="width:15%">

  <div class="w3-button w3-large"> <a href="/home">Home </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">HTML
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/htmlintro" class="w3-bar-item w3-button w3-large">Introduction</a>
      <a href="/htmlbasic" class="w3-bar-item w3-button w3-large">Basic</a>

      <a href="/htmlheading" class="w3-bar-item w3-button w3-large">Headings</a>
      <!--
              <a href="para.html" class="w3-bar-item w3-button w3-large">Paragraph</a>
              <a href="list.html" class="w3-bar-item w3-button w3-large">Lists</a>
              <a href="colours.html" class="w3-bar-item w3-button w3-large">Colours</a>

      -->

    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large w3-blue">CSS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/cssintro" class="w3-bar-item w3-button w3-large">Introduction</a>
      <a href="/csssyntax" class="w3-bar-item w3-button w3-large w3-blue">Syntax</a>
      <a href="/csscolour" class="w3-bar-item w3-button w3-large">Colours</a>
<!--
      <a href="#" class="w3-bar-item w3-button w3-large">Margins</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Padding</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Height/Width</a>

-->
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">JavaScript
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/javaintro" class="w3-bar-item w3-button w3-large">Introduction</a>

      <a href="/javasyntax" class="w3-bar-item w3-button w3-large">Syntax</a>
      <a href="/javavariable" class="w3-bar-item w3-button w3-large">Variables</a>



    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">Web Server
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/php" class="w3-bar-item w3-button w3-large">PHP</a>
      <a href="/sql" class="w3-bar-item w3-button w3-large">SQL</a>
      <a href="/bottle" class="w3-bar-item w3-button w3-large">Bottle</a>
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">References
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="https://www.w3schools.com/html/default.asp" class="w3-bar-item w3-button w3-large">HTML</a>
      <a href="https://www.w3schools.com/css/default.asp" class="w3-bar-item w3-button w3-large">CSS</a>
      <a href="https://www.w3schools.com/js/default.asp" class="w3-bar-item w3-button w3-large">Javascript</a>
      <a href="https://www.w3schools.com/php/default.asp" class="w3-bar-item w3-button w3-large">PHP</a>
      <a href="https://www.w3schools.com/sql/default.asp" class="w3-bar-item w3-button w3-large">SQL</a>
      <a href="https://bottlepy.org/docs/dev/" class="w3-bar-item w3-button w3-large">Bottle</a>
    </div>
  </div>


</div>
<!-- end of sidebar -->

  <div class="main">
    <h1>css colour </h1>



        <div class="w3-panel w3-pale-blue w3-round-xlarge" >
            <p>Colors are specified using predefined color names, or RGB, HEX, HSL, RGBA, HSLA values.</p>
    </div>
	  <div class="w3-row w3-center" style="margin:0 -16 px;line-height: 80px; color: white;">
			::before
			<div class="w3-row l3 m6 w3-padding">
				<div style="background-color: tomato;">Tomato</div>
			</div>
			<div class="w3-row l3 m6 w3-padding">
				<div style="background-color: orange;">Orange</div>
			</div>
			<div class="w3-row l3 m6 w3-padding">
				<div style="background-color: dodgerblue;">Dodgerblue</div>
			</div>
			<div class="w3-row l3 m6 w3-padding">
				<div style="background-color: mediumseagreen;">Mediumseagreen</div>
			</div>
			<div class="w3-row l3 m6 w3-padding">
				<div style="background-color: slateblue;">Slateblue</div>
			</div>
			<div class="w3-row l3 m6 w3-padding">
				<div style="background-color: violet;">Violet</div>
			</div>
		</div>

    <div class="w3-panel w3-pale-blue w3-round-xlarge" >
        <h3>RGB Vlue</h3>
        <div class="w3-code htmlHigh notranslate w3-border-green">
            <P>In HTML, a color can be specified as an RGB value, using this formula:
        rgb(red,green,blue)</p>
        <P>Where rr (red), gg (green) and bb (blue) are hexadecimal values between 00 and ff (same as decimal 0-255).</p>
    <P>For example, #ff0000 is displayed as red, because red is set to its highest value (ff) and the others are set to the lowest value (00).</p>


           </div>
</div>

<hr>
<!--start of content block -->
<div class="w3-panel w3-pale-blue w3-round-xlarge" >
    <h3> HSL Value</h3>
    <P>In HTML, a color can be specified using hue, saturation, and lightness (HSL) in the form: hsl(hue,saturation,lightness)</p>
<P>Hue is a degree on the color wheel from 0 to 360. 0 is red, 120 is green, and 240 is blue.</p>
<P>Saturation is a percentage value, 0% means a shade of gray, and 100% is the full color.</p>
	<p>Lightness is also a percentage, 0% is black, 50% is neither light or dark, 100% is white</p>
	  </div>
<!--start of content block -->




  </div>
</div>

<!--
<div>
    <img src="logo.png" width="200" height="100" >
    <p align="right">Web development tutorils</p>
    <hr>
</div>
*/
-->




</body>
</html>