<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/home.css">

    <css src="../css/home.css"></css>
    <script src="/js/home.js"></script>
    <script src="js/script_head.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<div class="w3-container">
    <img src="../img/logo.png" width="200" height="100" >
    <div class="w3-right w3-hide-small w3-wide w3-large" style="font-family:'Segoe UI',Arial,sans-serif; margin-top: 70px;">WEB DEVELOPMENT TUTORIALS</div>
    <div class="w3-padding w3-large w3-cyan" id="mynavi" >

        <div class="w3-button"><a href="home" id="HOME"><i class="material-icons w3-xxxlarge" href="w3home.html">home</i> </a> </div>
        <div class="w3-button"> <a href="about" id="ABOUT">About</a></div>
        <div class="w3-button"> <a href="help" id="HELP">Help</a></div>
        <div class="w3-dropdown-hover w3-right">
            <button class="w3-button">
                <i class="material-icons w3-right w3-xxlarge">person</i>
            </button>

            <div class="w3-dropdown-content w3-bar-block w3-light-blue" style="color:aliceblue">
                <a href="/chat" class="w3-bar-item w3-button">Message</a>
                <a href="/logout" class="w3-bar-item w3-button">Logout</a>
            </div>

        </div>

    </div>
