<header>
<meta charset="utf-8">
	<title>Need Help?</title>
	<link rel="stylesheet" type="text/css" href="../css/help.css">
	<div class="box">
	<p>Need Help?</p>
	<p>Hi, How can I help you?</p>
	<p>Web Development Tutorial is a website to help users learn how to use HTML and CSS to create their own website step-by-step.</p>
	<p>Here are some Popular Questions you might interested in</p>
				<p>1. Create, view and save my coding:If you want to create a new file, click +. To view files that you’ve created or opened on any computer and other documents, you can...... </p>
				<p>2. How to use WDT: if you want to know more information about WDT, .....</p>
				<p>3. Examples in website: All examples in website you can view it, check it and modify it, if you.....</p>
				<p>Hope it will be helpful!</p>
	</div>
</header>
