<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/home.css">

     <css src="../css/home.css">
    <script src="/js/home"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<body style="font-family:'Lato',sans-serif; overflow-y:auto;">

<div class="w3-container">

<!-- begin of sidebar -->
  <div class="w3-sidebar w3-bar-block w3-light-blue w3-card" style="width:15%">

  <div class="w3-button w3-large"> <a href="/home" id="HOME">Home </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large" id="HTML">HTML
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/htmlintro" class="w3-bar-item w3-button w3-large" id="IntroductionHTML">Introduction</a>
      <a href="/htmlbasic" class="w3-bar-item w3-button w3-large" id="BasisHTML">Basic</a>

      <a href="/htmlheading" class="w3-bar-item w3-button w3-large" id="AdvancedHTML">Headings</a>
      <!--
              <a href="para.html" class="w3-bar-item w3-button w3-large">Paragraph</a>
              <a href="list.html" class="w3-bar-item w3-button w3-large">Lists</a>
              <a href="colours.html" class="w3-bar-item w3-button w3-large">Colours</a>

      -->

    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large" id="CSS">CSS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/cssintro" class="w3-bar-item w3-button w3-large" id="IntroductionCSS">Introduction</a>
      <a href="/csssyntax" class="w3-bar-item w3-button w3-large w3-blue" id="SyntaxCSS">Syntax</a>
      <a href="/csscolour" class="w3-bar-item w3-button w3-large" id="ColoursCSS">Colours</a>
<!--
      <a href="#" class="w3-bar-item w3-button w3-large">Margins</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Padding</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Height/Width</a>

-->
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large" id="JavaScript">JavaScript
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/javaintro" class="w3-bar-item w3-button w3-large" id="IntroductionJava">Introduction</a>

      <a href="/javasyntax" class="w3-bar-item w3-button w3-large" id="SyntaxJava">Syntax</a>
      <a href="/javavariable" class="w3-bar-item w3-button w3-large" id="ColoursJava">Variables</a>



    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large w3-blue" id="WebServer">Web Server
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/php" class="w3-bar-item w3-button w3-large" id="PHP">PHP</a>
      <a href="/sql" class="w3-bar-item w3-button w3-large" id="SQL">SQL</a>
      <a href="/bottle" class="w3-bar-item w3-button w3-large" id="Bottle">Bottle</a>
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large" id="References">References
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="https://www.w3schools.com/html/default.asp" class="w3-bar-item w3-button w3-large" id="HTMLReferences">HTML</a>
      <a href="https://www.w3schools.com/css/default.asp" class="w3-bar-item w3-button w3-large" id="CSSReferences">CSS</a>
      <a href="https://www.w3schools.com/js/default.asp" class="w3-bar-item w3-button w3-large" id="JavaScriptReferences">Javascript</a>
      <a href="https://www.w3schools.com/php/default.asp" class="w3-bar-item w3-button w3-large" id="PHPReferences">PHP</a>
      <a href="https://www.w3schools.com/sql/default.asp" class="w3-bar-item w3-button w3-large" id="SQLReferences">SQL</a>
      <a href="https://bottlepy.org/docs/dev/" class="w3-bar-item w3-button w3-large" id="BottleReferences">Bottle</a>
    </div>
  </div>


</div>
<!-- end of sidebar -->

  <div class="main">
    <h1>Web development tutorials-About Us </h1>



        <div class="w3-panel w3-pale-blue w3-round-xlarge" >
			<font size="-0.5"><p>
Web development is now become an essentail skill for students doing Computer Science and related
				degrees. </p><p>
Do you want to build a solid web development skills to help you get a job?
Do you want to be a reliable teammate in a web development group work?
Are you interested in website development and do not know which resources to read and learn?
Or maybe you just want to impress your friend with some stunning website you make?
We are here to help! Web Development Tutorial can guide your way to a professional web developer
with knowledges in different stages.</p>
            <p>This is where you can learn web development skills, We have HTML which
            is the language for building web pages, CSS the language for styling web pages and JavaScript,
				the language for programming web pages</p></font>
    </div>

    <div class="w3-panel w3-pale-blue w3-round-xlarge" >
        <h3>Who are we?</h3>
        <font size="-0.5"><p>We are just like you! we are a group of computer sicence students who want to get a professional understanding on web development. We are making lives better by equiting computer science students with profrssional web development skills and online self-learning abilities. This websites is always here to be your personal webdevelopment assisstant.</p><p>
			The website includes sections like HTML, CSS, Java Stripts, Web Server to assisst you on your way to be a professional web developer. There are lots of examples listed as well as tasks and their solutions. Practice makes perfect! You are always welcomed to test codes provided on your own devices.
			</p></font>
</div>

<hr>
<!--start of content block -->
<div class="w3-panel w3-pale-blue w3-round-xlarge" style="height:630px;">
    <h3> Softwares to Build a Website</h3>
	<font size="-0.8"><p>The availability of software used may varies on differnt device, see the following picture to see which software is suitable for you.</p>
	<a href="https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_software_do_I_need"><font size="-0.8"><pre style="LINE-HEIGHT:0px; color:cornflowerblue">click the image to see options of sofwares to build a website:</pre></font></a>
    <a href="https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_software_do_I_need"><img src="../img/Basic.png" alt="Software used when building websites" style="float:left;width:920px;height:500px;"></a>
</div>
<!--start of content block -->

<div style:"background-color:#1768AC">

</div>


  </div>
</div>

<!--
<div>
    <img src="logo.png" width="200" height="100" >
    <p align="right">Web development tutorils</p>
    <hr>
</div>
*/
-->




</body>
</html>
