<!DOCTYPE html>
<html>

<body style="font-family:'Lato',sans-serif; overflow-y:auto;">

<!-- begin of sidebar -->
  <div class="w3-sidebar w3-bar-block w3-light-blue w3-card" style="width:15%">

  <div class="w3-button w3-large"> <a href="/home">Home </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">HTML
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/htmlintro" class="w3-bar-item w3-button w3-large" id="IntroductionHTML">Introduction</a>
      <a href="/htmlbasic" class="w3-bar-item w3-button w3-large" id="BasisHTML">Basic</a>

      <a href="/htmlheading" class="w3-bar-item w3-button w3-large" id="AdvancedHTML">Headings</a>
      <!--
              <a href="para.html" class="w3-bar-item w3-button w3-large">Paragraph</a>
              <a href="list.html" class="w3-bar-item w3-button w3-large">Lists</a>
              <a href="colours.html" class="w3-bar-item w3-button w3-large">Colours</a>

      -->

    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large w3-blue">CSS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/cssintro" class="w3-bar-item w3-button w3-large" id="IntroductionCSS">Introduction</a>
      <a href="/csssyntax" class="w3-bar-item w3-button w3-large w3-blue" id="SyntaxCSS">Syntax</a>
      <a href="/csscolour" class="w3-bar-item w3-button w3-large" id="ColoursCSS">Colours</a>
<!--
      <a href="#" class="w3-bar-item w3-button w3-large">Margins</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Padding</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Height/Width</a>

-->
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">JavaScript
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/javaintro" class="w3-bar-item w3-button w3-large" id="IntroductionJava">Introduction</a>

      <a href="/javasyntax" class="w3-bar-item w3-button w3-large" id="SyntaxJava">Syntax</a>
      <a href="/javavariable" class="w3-bar-item w3-button w3-large" id="ColoursJava">Variables</a>



    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">Web Server
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/php" class="w3-bar-item w3-button w3-large" id="PHP">PHP</a>
      <a href="/sql" class="w3-bar-item w3-button w3-large" id="SQL">SQL</a>
      <a href="/bottle" class="w3-bar-item w3-button w3-large" id="Bottle">Bottle</a>
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">References
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="https://www.w3schools.com/html/default.asp" class="w3-bar-item w3-button w3-large" id="HTMLReferences">HTML</a>
      <a href="https://www.w3schools.com/css/default.asp" class="w3-bar-item w3-button w3-large" id="CSSReferences">CSS</a>
      <a href="https://www.w3schools.com/js/default.asp" class="w3-bar-item w3-button w3-large" id="JavaScriptReferences">Javascript</a>
      <a href="https://www.w3schools.com/php/default.asp" class="w3-bar-item w3-button w3-large" id="PHPReferences">PHP</a>
      <a href="https://www.w3schools.com/sql/default.asp" class="w3-bar-item w3-button w3-large" id="SQLReferences">SQL</a>
      <a href="https://bottlepy.org/docs/dev/" class="w3-bar-item w3-button w3-large" id="BottleReferences">Bottle</a>
    </div>
  </div>


</div>
<!-- end of sidebar -->

  <div class="main">
    <h1>Basic To HTML </h1>


<hr>
<div class="w3-panel w3-pale-blue w3-round-xlarge" >
  <h4>
  Hi, This is Basic to HTML. We are going to talk about the document structures of websites, including heading, paragraphs, body, footer .etc</h4>
  <h4> Besides, you will learn something related to HTML tag(such as headings,paragraphs, lists, images, links)</h4>
  <h4> In addition, you will also learn how to write tests styling like the usage of "style" attribute,bold, italic .etc.</h4>
</div>

<!-- HTML Documents-->
	  <div class="w3-panel w3-pale-blue w3-round-xlarge" >
            <h3>HTML Document structures</h3>
			<font size="-0.9"><ul><li>All HTML documents must start with a document type declaration: &lt!DOCTYPE html&gt;.</li><li>
				The HTML document itself begins with &lthtml&gt; and ends with &lt/html&gt;.</li><li>
The visible part of the HTML document is between &ltbody&gt; and &lt/body&gt;.</li><li>
The &lthtml&gt; element is the root element of an HTML page.  </li><li>
The &lthead&gt; element contains meta information about the document. </li><li>
The &lttitle&gt; element specifies a title for the document. </li><li>
The &lth1&gt; element defines a large heading. </li>

</ul>
			</font>

    </div>

<hr>

	  <!-- HTML Tag & Web Broswser-->
        <div class="w3-panel w3-pale-blue w3-round-xlarge" >
            <h3>HTML Tag & Web Browser</h3>
			<font size="-0.9"><p>HTML tags are element names surrounded by angle brackets:
				<pre>      &lttagname&gt;content goes here...&lt/tagname&gt;</pre></p>
			<ul><li>HTML tags normally come <b>in pairs</b> like &ltp&gt; and &lt/p&gt;</li>
			<li>The first tag in a pair is the <b>start tag</b>, the second tag is the <b>end tag</b></li>
			<li>The end tag is written like the start tag, but with a <b>forward slash</b> inserted before the tag name</li></ul>
			<br><p>The purpose of a web browser (Chrome, IE, Firefox, Safari) is to read HTML documents and display them.
The browser does not display the HTML tags, but uses them to determine how to display the document</p>
			</font>
    </div>
    <hr>

<!-- HTML Elements(headings& paragragh& Links & Images & Buttons & Lists)-->
	  <div class="w3-panel w3-pale-blue w3-round-xlarge" >
            <h3>HTML Elements</h3>
            <h4>(headings & paragragh & Lists & Images & Links)</h4>
            <font size="-0.9"><p><b>HTML headings</b> are defined with the &lth1&gt; to &lth6&gt; tags.
            &lth1&gt; defines the most important heading. &lth6&gt; defines the least important heading:</p>
              <!--html headings example -->
              <div class="w3-code htmlHigh notranslate w3-border-green">
            <pre>
            &lth1&gt;This is heading 1&lt/h1&gt;
            &lth2&gt;This is heading 2&lt/h2&gt;
            &lth3&gt;This is heading 3&lt/h3&gt;</pre>
            </div>
              <!--html headings example END-->

              <p><b>HTML paragraphs</b> are defined with the &ltp&gt; tag:</p>
              <!--html p example -->
              <div class="w3-code htmlHigh notranslate w3-border-green">
            <pre>
            &ltp&gt;This is a paragraph&lt/p&gt;
            </pre>
            </div>
              <!--html p example END-->
              <p><b>HTML lists</b> An unordered list starts with the &ltul&gt; tag. Each list item starts with the &ltli&gt; tag. tag:</p>
              <!--html lists example -->
              <div class="w3-code htmlHigh notranslate w3-border-green">
            <pre>
            &ltul&gt;
            &ltli&gt;First Item &lt/li&gt;
            &ltli&gt;Second Item &lt/li&gt;
            &ltli&gt;Third Item &lt/li&gt;
            &lt/ul&gt;</pre>
            </div>
              <!--html lists example END-->
              <p><b>HTML images</b> images are defined with the &ltimg&gt; tag. The src attribute specifies the URL (web address) of the image. tag:</p>
              <!--html images example -->
              <div class="w3-code htmlHigh notranslate w3-border-green">
            <pre>
            &ltimg src="picture1.jpg" alt="Picture 1"&gt;
            </pre>
            </div>
              <!--html images example END-->
              <p><b>HTML links</b> links are defined with the &lta&gt; tag. The href attribute specifies the destination address of the link. tag:</p>
              <!--html links example -->
              <div class="w3-code htmlHigh notranslate w3-border-green">
            <pre>
            &lta href="url"&gt;link text &lt/a&gt;
            </pre>
            </div>
              <!--html links example END-->
              <pre style="text-decoration:none;color:cornflowerblue;"><a href="https://www.w3schools.com/html/html_basic.asp">For more information, click here</a></pre>
            </font>
    </div>
<hr>
<!--start of content block -->
<div class="w3-panel w3-pale-blue w3-round-xlarge" >
    <h3>Text Styling & Formatting</h3>
	<font size="-0.8">
	<p>Setting the <b>style</b> of an HTML element, can be done with the style attribute.
The HTML style attribute has the following syntax:</p>
	<pre>    &lttagname style="property:value;"&gt;</pre>
		<p>HTML also defines special elements for defining text with a special meaning.
HTML uses elements like &ltb&gt; and &lti&gt; for <b>formatting</b> output, like bold or italic text.</p>
		</font>
    <div class="w3-code htmlHigh notranslate w3-border-green">
		<p>for more information, please watch the video:</p>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/zc0b3Vrconk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<!--start of content block -->
    <h4>HTML Background Color</h4>
    <font size="-0.8"><p>The background-color property defines the background color for an HTML element.</p>
    <!--html background color example -->
    <div class="w3-code htmlHigh notranslate w3-border-green">
  <pre>
  &ltbody style= "background-color:powderblue;"&gt;
  &lth1&gt;This is a heading. &lt/h1&gt;
  &ltp&gt;This is a paragragh. &lt/p&gt;
  &lt/body&gt;</pre>
  </div>
    <!--html background color example END-->
    <h4>HTML Text Color</h4>
    <font size="-0.8"><p>The color property defines the text color for an HTML element:</p>
    <!--html text color example -->
    <div class="w3-code htmlHigh notranslate w3-border-green">
  <pre>
  &lth1 style= "color:blue;"&gt;This is a heading&lt/h1&gt;
  &ltp style= "color:red;"&gt;This is a paragragh. &lt/p&gt;</pre>
  </div>
    <!--html text color example END-->
    <h4>HTML Fonts</h4>
    <font size="-0.8"><p>The font-family property defines the font to be used for an HTML element:</p>
    <!--html fonts example -->
    <div class="w3-code htmlHigh notranslate w3-border-green">
  <pre>
  &lth1 style= "font-family:verdana;"&gt;This is a heading&lt/h1&gt;
  &ltp style= "font-family:courier;"&gt;This is a paragragh. &lt/p&gt;</pre>
  </div>
    <!--html fonts example END-->
    <h4>HTML Text Size</h4>
    <font size="-0.8"><p>The font-size property defines the font to be used for an HTML element:</p>
    <!--html fonts example -->
    <div class="w3-code htmlHigh notranslate w3-border-green">
  <pre>
  &lth1 style= "font-size:300%;"&gt;This is a heading&lt/h1&gt;
  &ltp style= "font-size:160%;"&gt;This is a paragragh. &lt/p&gt;</pre>
  </div>
    <!--html fonts example END-->
  </div>

	  <div class="w3-panel w3-pale-blue w3-round-xlarge" >
    <h3>HTML Block</h3>
	<font size="-0.8">
	<p>A block-level element always starts on a new line and takes up the full width available (stretches out to the left and right as far as it can).
The &ltdiv&gt; element is a block-level element.</p>
		</font>
    <div class="w3-code htmlHigh notranslate w3-border-green">
		<p>for more information, please click the image:</p>
       <a href="https://docstore.mik.ua/orelly/webprog/dhtml/ch03_02.htm"><img src="../img/htmlblock.png" alt="image showing the block level of elements" height="400" width="600"></a>fcn
</div>
<!--start of content block -->

  </div>

</div>

<!--
<div>
    <img src="logo.png" width="200" height="100" >
    <p align="right">Web development tutorils</p>
    <hr>
</div>
*/
-->




</body>
</html>
