<!DOCTYPE html>
<html>

<body>


<!-- begin of sidebar -->
  <div class="w3-sidebar w3-bar-block w3-light-blue w3-card" style="width:15%">

  <div class="w3-button w3-large"> <a href="/home">Home </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large w3-blue">HTML
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
        <a href="/htmlintro" class="w3-bar-item w3-button w3-large">Introduction</a>
        <a href="/htmlbasic" class="w3-bar-item w3-button w3-large">Basic</a>

        <a href="/htmlheading" class="w3-bar-item w3-button w3-large w3-blue">Advanced</a>
<!--
        <a href="para.html" class="w3-bar-item w3-button w3-large">Paragraph</a>
        <a href="list.html" class="w3-bar-item w3-button w3-large">Lists</a>
        <a href="colours.html" class="w3-bar-item w3-button w3-large">Colours</a>

-->
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">CSS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/cssintro" class="w3-bar-item w3-button w3-large">Introduction</a>
      <a href="/csssyntax" class="w3-bar-item w3-button w3-large">Syntax</a>
      <a href="/csscolour" class="w3-bar-item w3-button w3-large">Colours</a>

      <!--
            <a href="#" class="w3-bar-item w3-button w3-large">Margins</a>
            <a href="#" class="w3-bar-item w3-button w3-large">Padding</a>
            <a href="#" class="w3-bar-item w3-button w3-large">Height/Width</a>

      -->

    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">JavaScript
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/javaintro" class="w3-bar-item w3-button w3-large">Introduction</a>

      <a href="/javasyntax" class="w3-bar-item w3-button w3-large">Syntax</a>
      <a href="/javavariable" class="w3-bar-item w3-button w3-large">Variables</a>



    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">Web Server
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/php" class="w3-bar-item w3-button w3-large">PHP</a>
      <a href="/sql" class="w3-bar-item w3-button w3-large">SQL</a>
      <a href="/bottle" class="w3-bar-item w3-button w3-large">Bottle</a>
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">References
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
        <a href="https://www.w3schools.com/html/default.asp" class="w3-bar-item w3-button w3-large">HTML</a>
        <a href="https://www.w3schools.com/css/default.asp" class="w3-bar-item w3-button w3-large">CSS</a>
        <a href="https://www.w3schools.com/js/default.asp" class="w3-bar-item w3-button w3-large">Javascript</a>
        <a href="https://www.w3schools.com/php/default.asp" class="w3-bar-item w3-button w3-large">PHP</a>
        <a href="https://www.w3schools.com/sql/default.asp" class="w3-bar-item w3-button w3-large">SQL</a>
        <a href="https://bottlepy.org/docs/dev/" class="w3-bar-item w3-button w3-large">Bottle</a>
    </div>
  </div>


</div>
<!-- end of sidebar -->

  <div class="main">
    <h1>HTML Advanced </h1>


<hr>
<div class="w3-panel w3-pale-blue w3-round-xlarge" >
  <h4>
  Hi, This is advanced to HTML. We are going to talk about more advanced contents in terms of HTML.</h4>
  <h4> The section covers linking CSS file to HTML, layout, responsible web design, to building HTML form and understanding HTML5. etc.</h4>
			<font size="-0.9">
            <p>If you already have a foundamental understanding of web development and looks for something spicy and challenging, you are on the right track. This section will definately bring you to a next stage of web development. In this section, we will cover more advanced knowledges like:<ul>
			<li>how to build a sign up form for your website?</li>
			<li>what is HTML5 and what the style guide for it?</li>
			<li>How to draw graph in HTML using canvas & what is SVG?</li>
			<li>How to enable location tracking in your website?</li>
			</ul>
				<p> At the end of each page, there will be a task to help you get a better understading of the contents. There are more interesting things about HTML! enjoy!</p>
</font>
    </div>
    <hr>

    <div class="w3-panel w3-pale-blue w3-round-xlarge" >
        <h3>Linking CSS file to HTML</h3>
    <font size="-0.5"><p>CSS stands for Cascading Style Sheets.
    CSS describes how HTML elements are to be displayed on screen, paper, or in other media.</p>
    <p>Use the HTML style attribute for inline styling</p>
    <p>Use the HTML &ltstyle&gt; element to define internal CSS</p>
    <p>Use the HTML &ltlink&gt; element to refer to an external CSS file</p>
    <p>Use the HTML &lthead&gt; element to store &ltstyle&gt; and &ltlink&gt; elements</p>
    <p>Use the CSS color property for text colors</p>
    <p>Use the CSS font-family property for text fonts</p>
    <p>Use the CSS font-size property for text sizes</p>
    <p>Use the CSS border property for borders</p>
    <p>Use the CSS margin property for space outside the border</p>

    </font>
    </div>







    <div class="w3-panel w3-pale-blue w3-round-xlarge" >
        <h3>HTML Layout</h3>
    <font size="-0.5"><p>Websites often display content in multiple columns (like a magazine or newspaper).
HTML5 offers new semantic elements that define the different parts of a web page:</p>

      <ul>
      <li>&lthead&gt;	Defines a header for a document or a section</li>
      <li>&ltnav&gt;	Defines a container for navigation links</li>
      <li>&ltsection&gt;	Defines a section in a document</li>
    <li>&ltarticle&gt;	Defines an independent self-contained article</li>
  <li>&ltaside&gt;	Defines content aside from the content (like a sidebar)</li>
<li>&ltfooter&gt;	Defines a footer for a document or a section</li>
<li>&ltdetails&gt;	Defines additional details</li>
<li>&ltsummary&gt;	 Defines a heading for the &ltdetails&gt; element</li></ul>

      <p>for more information,see the vedio below:</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jV8B24rSN5o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </font>
    </div>


    <div class="w3-panel w3-pale-blue w3-round-xlarge" >
        <h3>Responsible Web Design</h3>
    <font size="-0.5"><p>Responsive Web Design is about using HTML and CSS to automatically resize, hide, shrink, or enlarge, a website, to make it look good on all devices (desktops, tablets, and phones)</p>

      <p><b>Setting The Viewport</b> When making responsive web pages, add the following &ltmeta&gt; element in all your web pages:</p>
        <!--html headings example -->
        <div class="w3-code htmlHigh notranslate w3-border-green">
      <pre>
      &ltmeta name="viewport" content="width=device-width,initial-scale=1.0"&gt;</pre>
      </div>
      <p><b>Responsive Images</b> Responsive images are images that scale nicely to fit any browser size.</p>
        <!--html headings example -->
        <div class="w3-code htmlHigh notranslate w3-border-green">
      <pre>
      &ltimg src="img_girl.jpg" style="width:100%;"&gt;</pre>
      </div>
      <p><b>Using the max-width Property</b>If the max-width property is set to 100%, the image will scale down if it has to, but never scale up to be larger than its original size:</p>
        <!--html headings example -->
        <div class="w3-code htmlHigh notranslate w3-border-green">
      <pre>
      &ltimg src="img_girl.jpg" style="max-width:100%;height:auto;"&gt;</pre>
      </div>
      </font>
      <pre style="text-decoration:none;color:cornflowerblue;"><a href="https://www.w3schools.com/html/html_responsive.asp">For more information, click here</a></pre>
    </div>

    <div class="w3-panel w3-pale-blue w3-round-xlarge" >
        <h3>HTML Form</h3>
		<font size="-0.5"><p>The HTML &ltform&gt; element defines a form that is used to collect user input</p>
			<p>The &ltinput&gt; element is the most important form element.
			The &ltinput&gt; element can be displayed in several ways, depending on the type attribute.</p>
			<ul>
			<li>&ltinput type="text"&gt;	Defines a one-line text input field</li>
			<li>&ltinput type="radio"&gt;	Defines a radio button (for selecting one of many choices)</li>
			<li>&ltinput type="submit"&gt;	Defines a submit button (for submitting the form)</li></ul>
			<p>for more information,see the vedio below:</p>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/GNuCNQDGBnk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</font>
</div>

<hr>
<!--start of content block -->
<div class="w3-panel w3-pale-blue w3-round-xlarge" >
    <h3>HTML5</h3>
    <font size="-0.8">
   <p>HTML5 is the latest evolution of the standard that defines HTML. The term represents two different concepts. It is a new version of the language HTML, with new elements, attributes, and behaviors, and a larger set of technologies that allows the building of more diverse and powerful Web sites and applications.</p>
   <p>for more information,see the vedio below:</p>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/UB1O30fR-EE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	<pre style="text-decoration: :none; color:cornflowerblue;"><a href="https://www.w3schools.com/html/html5_intro.asp">Click here to learn more about HTML 5.</a></pre>
</div>
<!--start of content block -->

<div class="w3-panel w3-pale-blue w3-round-xlarge" >
    <h3>Graphics</h3>
    <font size="-0.8">
   <p>The HTML &ltcanvas&gt; element is used to draw graphics on a web page.

The graphic to the left is created with &ltcanvas&gt;. It shows four elements: a red rectangle, a gradient rectangle, a multicolor rectangle, and a multicolor text..</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/cErAKkQEvKA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

	  <div class="w3-panel w3-pale-blue w3-round-xlarge" >
    <h3>Task</h3>
   <p>You are asked to build a website that asks for using name, password and emial, and store them. </p>
</div>

  </div>
</div>

<!--
<div>
    <img src="logo.png" width="200" height="100" >
    <p align="right">Web development tutorils</p>
    <hr>
</div>
*/
-->




</body>
</html>
