<!DOCTYPE html>
<html>

<body style="font-family:'Lato',sans-serif; overflow-y:auto;">

<!-- begin of sidebar -->
  <div class="w3-sidebar w3-bar-block w3-light-blue w3-card" style="width:15%">

  <div class="w3-button w3-large"> <a href="/home">Home </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">HTML
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/htmlintro" class="w3-bar-item w3-button w3-large" id="IntroductionHTML">Introduction</a>
      <a href="/htmlbasic" class="w3-bar-item w3-button w3-large" id="BasisHTML">Basic</a>

      <a href="/htmlheading" class="w3-bar-item w3-button w3-large" id="AdvancedHTML">Headings</a>
      <!--
              <a href="para.html" class="w3-bar-item w3-button w3-large">Paragraph</a>
              <a href="list.html" class="w3-bar-item w3-button w3-large">Lists</a>
              <a href="colours.html" class="w3-bar-item w3-button w3-large">Colours</a>

      -->

    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large w3-blue">CSS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/cssintro" class="w3-bar-item w3-button w3-large" id="IntroductionCSS">Introduction</a>
      <a href="/csssyntax" class="w3-bar-item w3-button w3-large w3-blue" id="SyntaxCSS">Syntax</a>
      <a href="/csscolour" class="w3-bar-item w3-button w3-large" id="ColoursCSS">Colours</a>
<!--
      <a href="#" class="w3-bar-item w3-button w3-large">Margins</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Padding</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Height/Width</a>

-->
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">JavaScript
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/javaintro" class="w3-bar-item w3-button w3-large" id="IntroductionJava">Introduction</a>

      <a href="/javasyntax" class="w3-bar-item w3-button w3-large" id="SyntaxJava">Syntax</a>
      <a href="/javavariable" class="w3-bar-item w3-button w3-large" id="ColoursJava">Variables</a>



    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">Web Server
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/php" class="w3-bar-item w3-button w3-large" id="PHP">PHP</a>
      <a href="/sql" class="w3-bar-item w3-button w3-large" id="SQL">SQL</a>
      <a href="/bottle" class="w3-bar-item w3-button w3-large" id="Bottle">Bottle</a>
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">References
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="https://www.w3schools.com/html/default.asp" class="w3-bar-item w3-button w3-large" id="HTMLReferences">HTML</a>
      <a href="https://www.w3schools.com/css/default.asp" class="w3-bar-item w3-button w3-large" id="CSSReferences">CSS</a>
      <a href="https://www.w3schools.com/js/default.asp" class="w3-bar-item w3-button w3-large" id="JavaScriptReferences">Javascript</a>
      <a href="https://www.w3schools.com/php/default.asp" class="w3-bar-item w3-button w3-large" id="PHPReferences">PHP</a>
      <a href="https://www.w3schools.com/sql/default.asp" class="w3-bar-item w3-button w3-large" id="SQLReferences">SQL</a>
      <a href="https://bottlepy.org/docs/dev/" class="w3-bar-item w3-button w3-large" id="BottleReferences">Bottle</a>
    </div>
  </div>


</div>
<!-- end of sidebar -->

  <div class="main">
    <h1>Introduction to JavaScript</h1>

<hr>

        <div class="w3-panel w3-pale-blue w3-round-xlarge" >
          <h4>Learn JavaScript with WDT(Web Development Tutotials)</h4><font size="-0.5">
            <p>Hi, in this section, we will learn how to program the behavior of web pages from basic to advanced</p>
            <p>JavaScript is the programming language of HTML and the Web.</p>
            <p>JavaScript is easy to learn.</p>
              <p>Java is a popular programming language, created in 1995. It is owned by Oracle, and more than 3 billion devices run Java.</p>
			<p>It is used for:

Mobile applications (specially Android apps)
Desktop applications
Web applications
Web servers and application servers
Games
Database connection
And much, much more!</p>
    </div>

    <div class="w3-panel w3-pale-blue w3-round-xlarge" >
        <h3>Why Use Java?</h3>
        <font size="-0.5">
            <P>Java works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc.)</p>
        <P>It is one of the most popular programming language in the world</p>
    <P>It is easy to learn and simple to use</p>
			<p>It is open-source and free</p>
			<p>It is secure, fast and powerful</p>
			<p>It has a huge community support (tens of millions of developers)</p>

</div>

<hr>
<!--start of content block -->
<div class="w3-panel w3-pale-blue w3-round-xlarge" >
    <h3> Building your first JavaScript--Example</h3>
    <div class="w3-code htmlHigh notranslate w3-border-green">
    <pre>
    public class MyClass {{
	  public static void main(String[] args) {{
	  System.out.println("Hello World");
 	  }}
    }}
  </pre>
  </div>
  <p><b>JavaScript Can Change HTML Content</b></p>
  <p>One of many JavaScript HTML methods is getElementById().
This example uses the method to "find" an HTML element (with id="demo") and changes the element content (innerHTML) to "Hello JavaScript":</p>
  <div class="w3-code htmlHigh notranslate w3-border-green">
    <pre>
      document.getElementById("demo").innerHTML = "Hello JavaScript";
    </pre>
  </div>
  <p><b>JavaScript Can Change HTML Styles (CSS)</b></p>
  <p>Changing the style of an HTML element, is a variant of changing an HTML attribute:</p>
  <div class="w3-code htmlHigh notranslate w3-border-green">
    <pre>
      document.getElementById("demo").style.fontSize = "35px";
    </pre>
  </div>
  <p><b>JavaScript Can Hide HTML Elements</b></p>
  <p>Hiding HTML elements can be done by changing the display style:</p>
  <div class="w3-code htmlHigh notranslate w3-border-green">
    <pre>
      document.getElementById("demo").style.display = "none";
    </pre>
  </div>
  <p><b>JavaScript Can Show HTML Elements</b></p>
  <p>Showing hidden HTML elements can also be done by changing the display style:</p>
  <div class="w3-code htmlHigh notranslate w3-border-green">
    <pre>
      document.getElementById("demo").style.display = "block";
    </pre>
  </div>

</div>
<!--start of content block -->




  </div>
</div>

<!--
<div>
    <img src="logo.png" width="200" height="100" >
    <p align="right">Web development tutorils</p>
    <hr>
</div>
*/
-->




</body>
</html>
