<!DOCTYPE html>
<html>

<body style="font-family:'Lato',sans-serif; overflow-y:auto;">

<!-- begin of sidebar -->
  <div class="w3-sidebar w3-bar-block w3-light-blue w3-card" style="width:15%">

  <div class="w3-button w3-large"> <a href="#">Home </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">HTML
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/htmlintro" class="w3-bar-item w3-button w3-large">Introduction</a>
      <a href="/htmlbasic" class="w3-bar-item w3-button w3-large">Basic</a>

      <a href="/htmlheading" class="w3-bar-item w3-button w3-large">Headings</a>
      <!--
              <a href="para.html" class="w3-bar-item w3-button w3-large">Paragraph</a>
              <a href="list.html" class="w3-bar-item w3-button w3-large">Lists</a>
              <a href="colours.html" class="w3-bar-item w3-button w3-large">Colours</a>

      -->

    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">CSS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/cssintro" class="w3-bar-item w3-button w3-large">Introduction</a>
      <a href="/csssyntax" class="w3-bar-item w3-button w3-large">Syntax</a>
      <a href="/csscolour" class="w3-bar-item w3-button w3-large">Colours</a>
<!--
      <a href="#" class="w3-bar-item w3-button w3-large">Margins</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Padding</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Height/Width</a>

-->
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">JavaScript
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/javaintro" class="w3-bar-item w3-button w3-large">Introduction</a>

      <a href="/javasyntax" class="w3-bar-item w3-button w3-large">Syntax</a>
      <a href="/javavariable" class="w3-bar-item w3-button w3-large">Variables</a>



    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large w3-blue">Web Server
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="/php" class="w3-bar-item w3-button w3-large w3-blue">PHP</a>
      <a href="/sql" class="w3-bar-item w3-button w3-large">SQL</a>
      <a href="/bottle" class="w3-bar-item w3-button w3-large">Bottle</a>
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">References
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="https://www.w3schools.com/html/default.asp" class="w3-bar-item w3-button w3-large">HTML</a>
      <a href="https://www.w3schools.com/css/default.asp" class="w3-bar-item w3-button w3-large">CSS</a>
      <a href="https://www.w3schools.com/js/default.asp" class="w3-bar-item w3-button w3-large">Javascript</a>
      <a href="https://www.w3schools.com/php/default.asp" class="w3-bar-item w3-button w3-large">PHP</a>
      <a href="https://www.w3schools.com/sql/default.asp" class="w3-bar-item w3-button w3-large">SQL</a>
      <a href="https://bottlepy.org/docs/dev/" class="w3-bar-item w3-button w3-large">Bottle</a>
    </div>
  </div>


</div>
<!-- end of sidebar -->

  <div class="main">
    <h1>PHP</h1>
    <font size="-0.5">



        <div class="w3-panel w3-pale-blue w3-round-xlarge" >
          <p>PHP is a server scripting language, and a powerful tool for making dynamic and interactive Web pages.</p>
          <p>PHP is a widely-used, free, and efficient alternative to competitors such as Microsoft's ASP.</p>
            <p>PHP scripts are executed on the server. </p>
			<p>Before you continue you should have a basic understanding of the following: HTML, CSS and JavaScript</p>
    </div>

    <div class="w3-panel w3-pale-blue w3-round-xlarge" >
        <h3>What is PHP?</h3>
        <font size="-0.5">
            <P>PHP is an acronym for "PHP: Hypertext Preprocessor"</p>
        <P>PHP is a widely-used, open source scripting language</p>
    <P>PHP scripts are executed on the server</p>
			<P>PHP is free to download and use</p>
        <p><b>PHP is an amazing and popular language!</b></p>
        <p>It is powerful enough to be at the core of the biggest blogging system on the web (WordPress)!</p>
        <p>It is deep enough to run the largest social network (Facebook)!</p>
        <p>It is also easy enough to be a beginner's first server side language!</p>


           </div>

           <div class="w3-panel w3-pale-blue w3-round-xlarge" >
               <h3> What is a PHP File?</h3><font size="-0.5">
               <P>PHP files can contain text, HTML, CSS, JavaScript, and PHP code</p>
           <P>PHP code are executed on the server, and the result is returned to the browser as plain HTML</p>
           <P>PHP files have extension ".php"</p>
           	<h3> What Can PHP Do?</h3><font size="-0.5">
               <P>PHP can generate dynamic page content</p>
           <P>PHP can collect form data</p>
           <P>PHP can create, open, read, write, delete, and close files on the server</p>
           	<p>PHP can send and receive cookies</p>
           	<p>PHP can add, delete, modify data in your database</p>
           	<p>PHP can be used to control user-access</p>
           	<p>PHP can encrypt data</p>
           </div>
</div>

<hr>
<!--start of content block -->

<!--start of content block -->




  </div>
</div>

<!--
<div>
    <img src="logo.png" width="200" height="100" >
    <p align="right">Web development tutorils</p>
    <hr>
</div>
*/
-->




</body>
</html>
