<header>
  <link rel="stylesheet" type="text/css" href="../css/signIn.css">
	<title>Web Developement Tutorial</title>
	<meta name="viewport" content-type="whidth=device-width initial-scale=1">
<div class="box">
     <img src="../img/7.png" class="avatar">
     <h1>Sign Up</h1>
     <form action="/signup" method="post">
         Username: <input name="username" type="text" />
         </br>
         Password: <input name="password" type="password" />
         </br>
         <input value="Sign Up" type="submit" />
     </form>
</div>
</header>
