<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/list.min.js"></script>
    <script src="../js/handlebars.min.js"></script>
</head>
<body>
<!--topnav-->
<div include-html="topnav.html"></div>
<!--/topnav-->



</body>
<div include-html="defaultLinks.html"></div>
<script src="../js/includeHTML.js"></script>
<script>includeHTML()</script>
</html>