<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
body {
  font-family: "Lato", sans-serif;
  overflow-y: auto;
}

/* Fixed sidenav, full height */



/* Main content */
.main {
  margin-left: 20%; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  overflow: scroll;
  margin-right:10%;

}

.sticky{
    position:fixed;
    top:0;
    width:98%;
    height:70px;

}



</style>
</head>
<body>

<div class="w3-container">
    <img src="../img/logo.png" width="200" height="100" >
    <div class="w3-right w3-hide-small w3-wide w3-large" style="font-family:'Segoe UI',Arial,sans-serif; margin-top: 70px;">WEB DEVELOPMENT TUTORIALS</div>
    <div class="w3-padding w3-large w3-cyan" id="mynavi" >

    <a href="htmlt1.html"><i class="material-icons w3-xxxlarge" href="w3home.html">home</i> </a>

    <div class="w3-dropdown-hover w3-right">
    <button class="w3-button">
    <i class="material-icons w3-right w3-xxlarge">person</i>
</button>

<div class="w3-dropdown-content w3-bar-block w3-light-blue">
<a href="#" class="w3-bar-item w3-button">Message</a>
<a href="#" class="w3-bar-item w3-button">Profile</a>
<a href="#" class="w3-bar-item w3-button">Logout</a>
</div>

    </div>

 </div>
<!-- begin of sidebar -->
  <div class="w3-sidebar w3-bar-block w3-light-blue w3-card" style="width:15%">

  <div class="w3-button w3-large"> <a href="htmlt1.html">Home </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">HTML
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="htmlintro.html" class="w3-bar-item w3-button w3-large">Introduction</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Basic</a>

      <a href="#" class="w3-bar-item w3-button w3-large">Headings</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Paragraph</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Lists</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Colours</a>


    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">CSS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="css/cssintro.html" class="w3-bar-item w3-button w3-large">Introduction</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Syntax</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Colors</a>

      <a href="#" class="w3-bar-item w3-button w3-large">Margins</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Padding</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Height/Width</a>


    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">JavaScript
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="javascript/javaintro.html" class="w3-bar-item w3-button w3-large">Introduction</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Statements</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Syntax</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Variables</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Data Types</a>
      <a href="#" class="w3-bar-item w3-button w3-large">Functions</a>


    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">Web Server
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="webserver/wsphp.html" class="w3-bar-item w3-button w3-large">PHP</a>
      <a href="webserver/wssql.html" class="w3-bar-item w3-button w3-large">SQL</a>
      <a href="wevserver/wsbot.html" class="w3-bar-item w3-button w3-large">Bottle</a>
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button w3-large">References
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block">
      <a href="https://www.w3schools.com/html/default.asp" class="w3-bar-item w3-button w3-large">HTML</a>
      <a href="https://www.w3schools.com/css/default.asp" class="w3-bar-item w3-button w3-large">CSS</a>
      <a href="https://www.w3schools.com/js/default.asp" class="w3-bar-item w3-button w3-large">Javascript</a>
      <a href="https://www.w3schools.com/php/default.asp" class="w3-bar-item w3-button w3-large">PHP</a>
      <a href="https://www.w3schools.com/sql/default.asp" class="w3-bar-item w3-button w3-large">SQL</a>
      <a href="https://bottlepy.org/docs/dev/" class="w3-bar-item w3-button w3-large">Bottle</a>
    </div>
  </div>


</div>
<!-- end of sidebar -->

  <div class="main">
    <h1>Web development tutorials </h1>



        <div class="w3-panel w3-pale-blue w3-round-xlarge" >
            <p>This is where you can learn some web development skills, We have HTML which
            is the language for building web pages, CSS the language for styling web pages and JavaScript,
        the language for programming web pages</p>
    </div>

    <div class="w3-panel w3-pale-blue w3-round-xlarge" >
        <h3>HTML Example</h3>
        <div class="w3-code htmlHigh notranslate w3-border-green">
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>!DOCTYPE<span style="color:red"> html</span><span style="color:mediumblue">&gt;</span></span><br>
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>html<span style="color:mediumblue">&gt;</span></span><br>
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>title<span style="color:mediumblue">&gt;</span></span>HTML Tutorial<span style="color:brown"><span style="color:mediumblue">&lt;</span>/title<span style="color:mediumblue">&gt;</span></span><br>
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>body<span style="color:mediumblue">&gt;</span></span><br><br>
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>h1<span style="color:mediumblue">&gt;</span></span>This is a heading<span style="color:brown"><span style="color:mediumblue">&lt;</span>/h1<span style="color:mediumblue">&gt;</span></span><br>
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>p<span style="color:mediumblue">&gt;</span></span>This is a paragraph.<span style="color:brown"><span style="color:mediumblue">&lt;</span>/p<span style="color:mediumblue">&gt;</span></span><br><br>
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>/body<span style="color:mediumblue">&gt;</span></span><br>
        <span style="color:brown"><span style="color:mediumblue">&lt;</span>/html<span style="color:mediumblue">&gt;</span></span>
           </div>
</div>

<hr>
<!--start of content block -->
<div class="w3-panel w3-pale-blue w3-round-xlarge" >
    <h3> CSS Example</h3>
    <div class="w3-code cssHigh notranslate w3-card-2 w3-border-green"><span style="color:brown">
body <span style="color:black">{</span><span style="color:red"><br>
&nbsp; background-color<span style="color:mediumblue"><span style="color:black">:</span> lightblue<span style="color:black">;</span></span><br></span><span style="color:black">}</span><br><br>
h1 <span style="color:black">{</span><span style="color:red"><br>
&nbsp; color<span style="color:mediumblue"><span style="color:black">:</span> white<span style="color:black">;</span></span><br>
&nbsp; text-align<span style="color:mediumblue"><span style="color:black">:</span> center<span style="color:black">;</span></span><br></span><span style="color:black">}</span><br><br>
p <span style="color:black">{</span><span style="color:red"><br>
&nbsp; font-family<span style="color:mediumblue"><span style="color:black">:</span> verdana<span style="color:black">;</span></span><br>
&nbsp; font-size<span style="color:mediumblue"><span style="color:black">:</span> 20px<span style="color:black">;</span></span><br></span><span style="color:black">}</span>
  </span></div>
</div>
<!--start of content block -->




  </div>
</div>

<!--
<div>
    <img src="logo.png" width="200" height="100" >
    <p align="right">Web development tutorils</p>
    <hr>
</div>
*/
-->


<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
window.onscroll = function() {myFunction()};

var header = document.getElementById("mynavi");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>

</body>
</html>
