<!doctype html>
<html>

<header>
	<link rel="stylesheet" type="text/css" href="../css/signIn.css">
	<title>Web Developement Tutorial</title>
	<meta name="viewport" content-type="whidth=device-width initial-scale=1">
</header>
<body>
	<div id="header">
		<ul id="topbar">
			<div id="logo">
				<img src="../img/logo3.png" />
			</div>
			<li id="user"><a href="">User</a></li>
			<li><a href="">Help?</a></li>
			<li><a href="">Home</a></li>
		</ul>
	</div>
	<div class="box">
   	   <img src="../img/7.png" class="avatar">
   	   <h1>Sign Up</h1>
  	   <form>
		<input type="text" name="" placeholder="First Name">
		   <p>*your first name must not contain special character</p>
		<input type="text" name="" placeholder="Email">
		   <p>*please enter a valid emial address</p>
		<input type="password" name="" placeholder="Password">
		   <p>*a valid password should have more than 8 characters and contain lower case, upper case and special character.</p>
		   <input type="password" name="" placeholder="Confirm Password">
		<input type="submit" name="" value="Done">
		 <a href="">already have an account? Click here</a>
   </form>
  </div>
	
</body>
</html>
